{% load tags %}
{% load i18n %}
{% load static %}
{% categories as categories %}
<nav class="navbar navbar-expand-lg navbar-dark bg-brown fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="{% static 'img/logo_site.png' %}" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-end">
            <li class="nav-item" >
                <a class="nav-link" id="nav_main" aria-current="page" href="{% url 'main' %}">{% trans "Главная" %}</a>
            </li>
            {% for item in categories %}
            <li class="nav-item">
                <a class="nav-link" id="nav_{{ item.id }}" aria-current="page" href="{% url 'getByCategory' id=item.id %}">{{ item.title }}</a>
            </li>
            {% endfor %}
            <li class="nav-item">
                <a href="{% url 'getVideos' %}" class="nav-link" id="nav_videos" aria-current="page">{% trans 'Видео' %}</a>
            </li>
            <li class="nav-item" id="nav_times">
                <a href="{% url 'allPraytimes' %}" class="nav-link" id="nav_time" aria-current="page">{% trans 'Время намаза' %}</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Язык
              </a>
              <ul class="dropdown-menu" style="font-size:1.5rem; min-width: auto !important;" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item active" href="#">🇷🇺</a></li>
                <li><a class="dropdown-item" href="#">🇰🇬</a></li>
              </ul
        </ul>     
      </div>
    </div>
  </nav>